*{
   margin:0px;
   padding:0px;
}

.bgimage{
	background-image: url("photo/SYS-Logo.jpg");
	background-size: 100% 100%;
	width: 100%;
	height: 100VH;
}

.menu{

	width: 100%;
	height:100px;
	background-color: rgba(0,0,0,0.5);
}

.leftmenu{
	width: 20%;
	line-height: 80px;
	float: left;

}

.leftmenu h4{
	padding-left: 70px;
	font-weight: bold;
	color: white;
	font-size: 40px;
	font-family: ariel;
}


.rightmenu{
	width: 75%;
	height: 100px;
	float: right;

}

.rightmenu ul{
margin-left: 70px;	
}

.rightmenu ul li {
	font-family: aeril;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color: white;
	font-weight: bold;
	line-height: 100px;
	margin-left: 40px;
	text-transform: uppercase;

}

#firstlist{
	color: none;
}

.rightmenu ul li:hover{
	color: orange;
}


.text{
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color: black
}

.text h4{

	font-size: 14px
	font-family: aeril;
}

.text h1{
	font-size: 60px;
	font-family: aeril;
	font-weight: 700px;
	margin:14px 0px;
}

.text h3{
	font-size: 12px;
	font-family: aeril;
}


#buttonone{
	background-color: pink;
	border: none;
	font-size: 20px;
	font-family: aeril;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 40px;
	width: 150px;
	font-family: aeril;
	margin-top: 25px;
	border: 3px solid black;
}

#buttontwo{

	background-color: skyblue;
	border: none;
	font-size: 20px;
	font-family: aeril;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 40px;
	border: 3px solid black;
	width: 150px;
}
.vedio{
	width: 65%;
	height: 100px;
	float: right;

}